<h1>Articles Display </h1>
<div class="flicker_pagination">
  <%= will_paginate @articles, :container => false %>
</div>
<%= render 'article' %>
<br/>
<p>
  <%= link_to 'Create new article', new_article_path %>
</p>
<%= link_to 'Home Page', root_path %>
<div class="flicker_pagination">
  <%= will_paginate @articles, :container => false %>
</div>
